.color-p{
    color: $color_primary;
}
.color-s{
    color: $color_secondry;
}
.color-y{
    color: $color_yellow
}
.color-p-bg{
    background-color: $color_primary;
}
.color-s-bg{
    background-color: $color_secondry;
}
.color-y-bg{
    background-color: $color_yellow;
}