/*  variables scss  */
$font_baloo : "Baloo Thambi 2" , cursive;
$font_raleway : "Raleway" , cursive;
$font_Rubik : "Rubik" , cursive;
$color_primary : rgb(13, 48, 126);
$color_secondry : rgb(59, 165, 192);
$color_yellow : rgb(228, 228, 10);

